@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

html, body, p, h1, h2, h3, div, span, image, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
button,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --c-snow: #fff;
  --c-snow-opacity-light: rgba(255, 255, 255, 0.1);
  --c-main: #0B0D17;
  --c-main-light: #D0D6F9;

  --tr-base: 0.2s;
  --tr-small: 0.4s;
  --tr-medium: 0.6s;
}

html, body {
  min-height: 100svh;
  position: relative;
  font-size: 9px;
  overflow-x: hidden;
  @media (min-width: 375px) {
    font-size: 10px;
  }
}

body::before {
  content: "";
  background: url("../assets/home/mobile_home_full.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
}
