@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

html, body, p, h1, h2, h3, div, span, image, a, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

button {
  border: none;
  background: transparent;
  outline: none;
}

:root {
  --c-snow: #fff;
  --c-snow-opacity-light: rgba(255, 255, 255, 0.1);
  --c-main: #0B0D17;
  --c-main-light: #D0D6F9;

  --tr-base: 0.2s;
  --tr-small: 0.4s;
  --tr-medium: 0.6s;
}

html, body {
  min-height: 100svh;
  position: relative;
  font-size: 9px;
  background-color: black;
  overflow-x: hidden;
  @media (min-width: 375px) {
    font-size: 10px;
  }
}
