.wrapper {
  height: 100%;
  position: relative;
}

.container {
  height: 100%;
  padding: 2.4rem;
}

.headline {
  margin-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &Intro {
    margin-bottom: 2.4rem;
    display: block;
    color: var(--c-main-light);
  }

  &Point {
    display: block;
    color: var(--c-snow);
  }
}

.description {
  color: var(--c-main-light);
}
