.wrapper {
  height: 100%;
  width: 25.4rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8;
  background-color: var(--c-main-opacity-light);
  -webkit-backdrop-filter: blur(80px);
  backdrop-filter: blur(80px);
  color: var(--c-main-light);
  transform: translateX(120%);
}

.nav {
  &List {
    margin-top: 13.2rem;
    padding-left: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  &Link {
    position: relative;
    display: flex;
    text-transform: uppercase;
    color: inherit;
    &.active::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 0.3rem;
      background-color: var(--c-main-light);
    }
  }

  &Num {
    margin-right: 1.2rem;
  }
}
